.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    min-height: 70vh;
}

.mainname {
    position: relative;
    font-size: 30px;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 3px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
}

.blogItemh3{
    cursor: pointer;
}